/* DEFAULT (DARK DEV THEME) */
:root {
  --bg: #0d1117;
  --text: #ffffff;
  --muted: #c9d1d9;

  --primary: #40f883;
  --secondary: #58a6ff;
  --accent: rgba(64, 248, 131, 0.15);

  --card-bg: #161b22;   /* 👈 add this */
  --card-text: #ffffff;
  --card-border: rgba(255, 255, 255, 0.08);
}

/* ================= WHITE THEME ================= */
[data-theme="white-theme"] {
  --bg: #ffffff;
  --text: #0f172a;
  --muted: #475569;

  --primary: #2563eb;
  --secondary: #f59e0b;
  --accent: rgba(37, 99, 235, 0.12);

  --card-bg: #f8fafc;   /* 👈 light clean card */
  --card-border: rgba(15, 23, 42, 0.08);
}

/* ================= DARK THEME ================= */
[data-theme="dark-theme"] {
  --bg: #0d1117;
  --text: #ffffff;
  --muted: #f5f5f5;

  --primary: #40f883;
  --secondary: #58a6ff;
  --accent: rgba(64, 248, 131, 0.15);

  --card-bg: #373a3d;
  --card-border: rgba(255, 255, 255, 0.08);
}